html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.content {
    padding-left: 12px;
    padding-right: 12px;
}

/*Desktop Navigation CSS*/
.topnav a {
	text-decoration: none;
}