#slideMenu {
	width: 100vw;
	height: 100vh;
	top: 60px;
	left: 0;
	position: fixed;
	background-color: #FFF;
	transform: translate3d(-100vw, 0, 0);
}

#slideMenu.show {
	transform: translate3d(0vw, 0, 0);
	transition: transform .3s cubic-bezier(0, .52, 0, 1);
}

ul{
	padding:50px 24px 24px 24px;
	list-style-type: none;
}

ul > li {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 20px;

}

hr {
	margin: 16px 0px;
}


a {
	color: #484848;
}

a:active {
	color:yellow;
}